*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
Nav.jsx
*/
.navbar__wrapper{
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  margin-bottom: 32px;
}
.nav__link--lists{
  display: flex;
  justify-content: space-between;
}
li{
  list-style-type: none;
  margin-right: 24px;
}

/*
  Movies.jsx
*/
.searchbar__wrapper{

  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}
.input__field{
  margin-right: 24px;
  padding: 12px 24px;
  border-radius: 24px;
  width: 420px;
}
.search__button{
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 24px;
}
.result{
  position: absolute;
  left: 0;
  bottom: 0;
  left: 148px
}
.movie__lists{
  
  padding: 24px;
  border: solid red;
  display: flex;
  flex-wrap: wrap;
}
.movie__list{
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie__image{
  width: 100%;
}